---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Layout

* {
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

figure * + * {
  margin-top: 0;
}

main > article > header > * + * {
  margin-top: 0;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

body {
  margin: 1rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;

  li + li {
    padding-left: 1em;
  }
}

main > ul {
  list-style: none;
  padding: 0;
}


// Color

* {
  color: inherit;
}

html {
  color: #222;
}

a {
  color: #26c;
}

small {
  color: #888;
}


// Typography & Decoration

* {
  font-family: inherit;
  line-height: inherit;
}

html {
  font-size: 125%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

small {
  font-weight: lighter;
}

body > header {
  border-bottom: solid 1px #ccc;
}


// Page-specific and external styles

@import "instamatic";
