:root {
  --content-width: 80ch;
  --body-padding: 1em;
  --block-gap: 1em;
}

body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  /* display: grid;
  grid-template-columns: auto auto auto; */
  gap: var(--block-gap);
  margin: 0;
  padding: var(--body-padding);

  * {
    margin: 0 auto;
  }

  > header {
    max-width: var(--content-width);
    flex: 0 1 auto;
    padding-bottom: var(--block-gap);
    text-align: center;
    width: 100%;
  }

  > main {
    max-width: var(--content-width);
    flex: 1 0 auto;
    align-self: left;
    padding-block: var(--block-gap);
    width: 100%;

    * + * {
      margin-block-start: var(--block-gap);
    }

    article {
      header {
        * + * {
          margin-top: 0;
        }
      }
    }
  }

  > footer {
    max-width: var(--content-width);
    flex: 1 0 auto;
    padding-top: var(--block-gap);
    text-align: center;
    width: 100%;
  }

  ul {
    padding-left: var(--block-gap);
  }

  li + li {
    margin-top: 0;
  }

  nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: var(--block-gap);
    justify-content: center;
    list-style: none;
    padding: 0;
    text-transform: uppercase;

    li {
      margin: 0;
    }
  }

  pre {
    overflow-x: scroll;
    padding: var(--block-gap);
  }

  pre, video, img {
    border-radius: 0.5rem;
  }

  :not(pre) > code {
    border-radius: 0.2rem;
    padding: 0.1em 0.3em;
  }

  video {
    width: 100%;
    height: auto;
  }

  figure {
    padding: 1em;

    p:has(img) {
      display: flex;
      flex-wrap: wrap;
      gap: var(--block-gap);
    }

    img + img {
      margin-block-start: 0;
    }

    figcaption {
      text-align: center;
    }
  }

  ul.tags {
    display: inline;
    list-style: none;
    margin: 0;
    margin-inline-start: 0.25em;
    padding: 0;

    li {
      display: inline;
    }

    li + li {
      margin-inline-start: 0.25em;
    }
  }
}
