@import "font_scales";
@import "font_stacks";

/*
  Configure typography
*/

:root {
  --font-family: var(--font-stack-classical-humanist);
  --font-scale: var(--font-scale-minor-second);
  --font-size: 100%;
  --line-height: 1.5;

  --heading-font-family: var(--font-stack-humanist);
  --heading-font-weight: normal;
  --heading-line-height: 1.2;

  --blockquote-font-family: var(--font-stack-transitional); /* nicer italic */
  --blockquote-font-style: italic;
  --blockquote-letter-spacing: 0.05em;

  --code-font-family: var(--font-stack-monospace-code);
}

/*
  Set font family
*/

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

main header *, h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  text-wrap: balance;
}

body > header a {
  font-family: var(--heading-font-family);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code, code *, kbd, pre, samp {
  font-family: var(--code-font-family);
}

blockquote, blockquote * {
  font-family: var(--blockquote-font-family);
  font-style: var(--blockquote-font-style);
  letter-spacing: var(--blockquote-letter-spacing);
}

/*
  Set font scale
*/

h1 { font-size: calc(1rem * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale)) }
h2 { font-size: calc(1rem * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale)) }
h3 { font-size: calc(1rem * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale)) }
h4 { font-size: calc(1rem * var(--font-scale) * var(--font-scale) * var(--font-scale)) }
h5 { font-size: calc(1rem * var(--font-scale) * var(--font-scale)) }
h6 { font-size: calc(1rem * var(--font-scale)) }
p { font-size: 1rem }
small { font-size: calc(1rem / var(--font-scale)) }
code { font-size: calc(1rem / var(--font-scale)) }

/*
  Set typography of specific elements
*/

/* Big quote character on the left */
blockquote {
  position: relative;

  &::before {
    content: "“";
    font-size: 5em;
    line-height: 1em;
    position: absolute;
    top: -0.05em;
    left: 0;
  }

  > * {
    margin-inline-start: 3em;
  }
}
