# Site settings
title: Tiago Mendes-Costa
description: > # this means to ignore newlines until "baseurl:"
  Tiago Mendes-Costa's home page and blog.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://www.mendes-costa.net" # the base hostname & protocol for your site

# Build settings
markdown: kramdown

# Outputting
permalink: /:categories/:title

# Front matter defaults
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      lang: "en"
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      lang: "en"
      layout: "post"
      category: "posts"
  -
    scope:
      path: "drafts"
      type: "drafts"
    values:
      lang: "en"
      layout: "post"

sass:
  sass_dir: assets/stylesheets

theme: null

# Include these files/folders that are excluded by default
include: [ "/.well-known" ]

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile
  - vendor

safe: false

plugins:
  - jekyll-optional-front-matter
  - jekyll-titles-from-headings
  - jekyll-figure

jekyll-figure:
  paragraphs: true

optional_front_matter:
  enabled: true
  remove_originals: true

titles_from_headings:
  enabled: true
  strip_title: true
  collections: true
