---
layout: default
title: Podcasts
---

<section id="podcasts">
  <header>
    <h1>Podcasts</h1>
    <small>A curated list of worthy podcasts</small>
  </header>

  {% for podcast in site.data.podcasts %}
  <article id="{{ podcast.name | slugify }}">
    <figure>
      <a href="{{ podcast.url }}">
        <img src="{{ podcast.cover }}" alt="{{ podcast.name }} cover"/>
      </a>
      <figcaption>
        <h2><a href="{{ podcast.url }}">{{ podcast.name }}</a></h2>

        <p>{{ podcast.description | markdownify }}</p>

        {% unless podcast.tags == empty %}
        <p>
          {% for tag in podcast.tags %}
          <span class="tag">#{{ tag }}</span>
          {% endfor %}
        </p>
        {% endunless %}
      </figcaption>
  </article>
  {% endfor %}
</section>
