.mugshot {
  text-align: center;
  margin: 30px 0;
  img {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
}

.fa {
  color: $grey-color;
  font-size: 1.2em !important;
  vertical-align: middle;
}