// Layout

* {
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

figure * + * {
  margin-top: 0;
}

main > article > header > * + * {
  margin-top: 0;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

body {
  margin: 2rem;
}

body > * {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;

  li + li {
    padding-left: 1em;
  }
}

main > ul {
  list-style: none;
  padding: 0;
}

pre {
  overflow-x: scroll;
  padding: 1em;
}

blockquote {
  border-left: solid 5px;
  padding-left: 1em;
}

main video {
  width: 100%;
  height: auto;
}

// Color

* {
  color: inherit;
}

html {
  color: #222;
}

a, a:visited {
  color: rgb(28, 80, 147);


  &:hover {
    color: rgb(39, 107, 196);
  }
}

small {
  color: #888;
}

:not(pre) > code {
  background-color: #eee;
}

blockquote {
  border-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1c1c1c;
    color: #ccc;
  }

  a, a:visited {
    color: rgb(113, 175, 255);

    &:hover {
      color: rgb(143, 192, 255);

    }
  }

  :not(pre) > code {
    background-color: #333;
  }

  blockquote {
    border-color: #444;
  }
}

// Typography & Decoration

* {
  font-family: inherit;
  line-height: inherit;
}

html {
  font-family: Menlo, "Lucida Sans Typewriter", "Lucida Console", sans-serif;
  font-size: 125%;
  font-weight: 300;
  line-height: 1.5;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

small {
  font-weight: lighter;
}

body > header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-transform: uppercase;

  nav ul {
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
}

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}

pre, video, img {
  border-radius: 0.5rem;
}

:not(pre) > code {
  border-radius: 0.2rem;
  padding: 0.1em 0.3em;
}
