section#instamatic-photos {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;

  header {
    grid-column: 1 / -1;
    text-align: center;
  }

  article {
    figure {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 100%;
      margin: 0;
      padding: 0;
      border: none;

      a img {
        transition: all 0.2s ease;
      }

      a:hover img {
        box-shadow: 0 0 10px #888;
        transform: scale(1.05);
      }

      img {
        border-radius: 5px;
        display: block;
        margin: 0;
        width: 100%;
      }

      figcaption {
        margin: 0;
        padding: 0.5rem;
        text-align: center;

        > * {
          font-size: 1rem;
          margin: 0;
        }

        p, time {
          color: #aaa;
          display: none;
          font-size: 0.7rem;
        }
      }
    }
  }
}
