<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" title="Humanist" href="/assets/stylesheets/humanist.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

    <meta name="twitter:site"    content="@otagi">
    <meta name="twitter:creator" content="@otagi">
    <meta name="twitter:title"   content="{{ page.title }}">
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% endif %}
    {% if page.video %}
    <meta name="twitter:card"  content="player">
    <meta name="twitter:player" content="{{ site.url }}{{ page.video }}">
    <meta name="twitter:player:width" content="{{ page.video_width }}">
    <meta name="twitter:player:height" content="{{ page.video_height }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.video_poster }}">
    {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          {% for page in site.pages %}
            {% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      © Tiago Mendes-Costa
    </footer>
  </body>
</html>
